[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
datatrove = {extras = ["processing", "io"], version = "==0.9.0"}
fasttext-numpy2-wheel = "*"
huggingface-hub = "*"
datasets = "5.0.0"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.1"
